<div class="from-predicate">{{fromPredicate}}</div>
<div class="to">
  <i class="icon-long-arrow-right"></i>
</div>

<div class="to-predicate">{{toPredicate}}</div>

<div class="action {{action}}">{{action}}</div>
<div class="action-predicate">{{actionPredicate}}</div>
