<td class="name">
  <a class="image-name" href="/images/{{uuid}}">{{name}} {{version}}</a><br>
  <span class="uuid">{{uuid}}</span>
</td>
<td class="published">
  <small>Published</small> {{publish_date}}
</td>
<td class="os">
  <small>OS</small>
  {{os}}
</td>
