<td class="state">
  <span class="label {{state}}">{{state}}</span>
</td>
<td class="name">
  <a class="image-name" href="/images/{{uuid}}">{{name}} {{version}}</a><br>
  <span class="uuid">{{uuid}}</span>
</td>
<td class="published">
  {{publish_date}}
</td class="os">
<td>{{os}}</td>
<td class="visibility">
  {{#if public}}
  <span class="public">public</span>
  {{else}}
  <span class="private">owner</span>
    {{#if acl}}
    <span class="acl">
      and <a>{{acl.length}} others</a>
    </span>
    {{/if}}
  {{/if}}
</td>
