<td class="execution">
  <span class="{{execution}}">{{execution}}</span>
</td>
<td>
  <a href="/jobs/{{uuid}}" class="name">{{name}} <small>{{summary}}</small></a>
  <div class="uuid"><span class="selectable">{{uuid}}</span></div>
</td>
<td>
  {{when}}<br>
  <span class="duration"><i class="icon-time"></i> {{duration}}s</span>
</td>
