<td>{{ip}}</td>
<td class="belongs-to">
  <strong>{{belongs_to_type}}</strong>
  {{#if belongs_to_url}}
  <a href="{{belongs_to_url}}"><small>{{belongs_to_uuid}}</small></a>
  {{else}}
  <small>{{belongs_to_uuid}}</small>
  {{/if}}
</td>
<td style="text-align: right">
  {{#if reserved}}
  <span class="label label-info">Reserved</span>
  <a class="unreserve">Unreserve</a>
  {{else}}
  <a class="reserve">Reserve</a>
  {{/if}}
</td>
<td>
  {{#if free}}
  <span class="label label-info">Free</span>
  {{/if}}
</td>
