<div class="page-header">
  {{#if uuid}}
    {{#if changeOwnerMode}}
      <h2>Change Package Settings for {{name}} {{version}}</h2>
    {{/if}}
    {{#if newVersionMode}}
      <h2>Create New Version of {{name}} {{version}}</h2>
    {{/if}}
  {{else}}
  <h2>Create a new Package</h2>
  {{/if}}
</div>



<div class="row">
  <div class="span12">
    <form class="form-horizontal">
      <div class="alert alert-block alert-error hide"></div>

      {{#unless changeOwnerMode}}
      <div class="control-group">
        <span class="help-block" style="margin-bottom: 2em;">
          Name and version of the package is used to uniquely identify a package. Once a package with a specific version has been created, the properties making up the package cannot be modified. A new version must be created with the new properties.
        </span>

        <label class="control-label" for="package-name">Name</label>
        <div class="controls">
          <input type="text"
          value="{{name}}"
          id="package-name"
          name="name"
          {{#if newVersionMode}}
          readonly
          {{/if}}
          placeholder="Name of the package">
        </div>
      </div>
      {{/unless}}

      <div class="control-group">
        <label class="control-label" for="package-name">Description</label>
        <div class="controls">
          <textarea rows="3" class="span4" name="description">{{description}}</textarea>
        </div>
      </div>

      {{#unless changeOwnerMode}}
      <div class="control-group">
        <label class="control-label" for="package-version">Version</label>

        <div class="controls">
          {{#if newVersionMode}}
          <p class="original-version">
            Original Version {{version}} <br/>
            Please specify a new version.
          </p>
          {{/if}}
          <input type="text"
          {{#unless newVersionMode}}
          value="{{version}}"
          {{/unless}}
          id="package-version"
          class="span3"
          name="version" placeholder="Version">
        </div>
      </div>
      {{/unless}}

      <div class="control-group package-owners">
        <label class="control-label" for="package-owner">Owners</label>

        {{#unless owner_uuid.length}}
        <div class="controls">
          <input type="text"
          class="input-xlarge package-owner"
          name="owner_uuid[]"
          placeholder="Search by login or uuid">
        </div>
        {{else}}
        {{#each owner_uuid}}
        <div class="controls">
          <input type="text"
          value="{{this}}"
          class="input-xlarge package-owner"
          name="owner_uuid[]"
          placeholder="Search by login or uuid">
        </div>
        {{/each}}
        {{/unless}}
        <a class="add-owner-entry">Add Another Owner</a>
      </div>


      {{#unless changeOwnerMode}}
      <legend>CPU &amp; Memory</legend>
      <div class="control-group">
        <label class="control-label" for="package-memory">Memory</label>
        <div class="controls">
          <div class="input-append">
            <input type="number" class="input-small" id="package-memory"
            name="max_physical_memory"
            min="64"
            value="{{max_physical_memory}}"
            placeholder="memory">
            <span class="add-on">MB</span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="package-memory">Swap</label>
        <div class="controls">
          <div class="input-append">
            <input type="number" class="input-small" id="package-swap"
            name="max_swap" value="{{max_swap}}" min="64" placeholder="swap">
            <span class="add-on">MB</span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="package-vcpus">Number of CPUs</label>
        <div class="controls">
          <div class="input-append">
            <input type="number"
              value="{{vcpus}}"
              class="input-small"
              id="package-vcpus"
              name="vcpus" min="1" placeholder="cores">
            <span class="add-on">cores</span>
          </div>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="package-cap-cpu">CPU Cap</label>
        <div class="controls">
          <input type="number"
          value="{{cpu_cap}}"
          class="input-small" id="package-cpu-cap"
          name="cpu_cap" min="20" max="10000" placeholder="cpu cap">
          <p class="help-inline">Min 20. This is = to % of CPU. 400% = 4 CPUs</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="package-vcpus">Max Lightweight Processes</label>
        <div class="controls">
          <input type="number"
          value="{{max_lwps}}"
          class="input-small" id="package-max-processes"
          name="max_lwps" min="250" placeholder="threads">
        </div>
      </div>

      <legend>Disk</legend>

      <div class="control-group">
        <label class="control-label" for="package-quota">Disk Quota</label>
        <div class="controls">
          <div class="input-append">
            <input type="number"
             value="{{quota}}"
             class="input-medium" name="quota" id="package-quota" min="1" placeholder="disk quota">
            <span class="add-on">MB</span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="package-io-prioirty">IO Priority</label>
        <div class="controls">
          <input type="number"
            class="span2"
            class="span3"
            min="1"
            max="1000"
            name="zfs_io_priority"
            value="{{zfs_io_priority}}"
            id="package-io-priority"
            min="1"
            placeholder="Disk IO Priority">
            <p class="help-inline">1 for minimun, 1000 for maximum</p>
          </div>
      </div>

      {{/unless}}

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"
            {{#if active}}checked{{/if}}
            name="active"> Activate Package
          </label>

          <label class="checkbox">
            <input type="checkbox"
            {{#if default}}checked{{/if}}
            name="default"> Make this the Default Package
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          {{#if uuid}}
          Save Package
          {{else}}
          Create Package
          {{/if}}
        </button>
        <button type="cancel" class="btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
