<div class="page-header">
  <h1>
    {{name}}
    {{version}}
    <div class="actions">
      <button class="btn btn-small edit"><i class="icon-pencil"></i> Edit Package</button>
      <button class="btn btn-small traits"><i class="icon-pencil"></i> Edit Traits</button>
    </div>
  </h1>
  <div class="flags">
    <span class="label {{#if active}}label-info{{/if}} ">ACTIVE</span>
  </div>
</div>


<h3>Memory &amp; CPU</h3>

<div class="memory">
  <strong>RAM</strong>
  <div class="value">{{normalize max_physical_memory}}</div>
</div>

<div class="vcpus">
  <strong>VCPUs</strong>
  <div class="value">{{vcpus}}</div>
</div>

<div class="swap">
  <strong>Swap</strong>
  <div class="value">{{max_swap}} MB</div>
</div>

<div class="cpu-cap">
  <strong>CPU Cap</strong>
  <div class="value">{{cpu_cap}}</div>
</div>

<div class="max-processes">
  <strong>Max Lightweight Processes</strong>
  <div class="value">{{max_lwps}}</div>
</div>


<h3>Storage</h3>
<div class="quota">
  <strong>Disk Quota</strong>
  <div class="value">{{normalize quota}}</div>
</div>

<div class="io-priority">
  <strong>ZFS IO Priority</strong>
  <div class="value">{{zfs_io_priority}}</div>
</div>

<section class="networks">
  <h3>Networks</h3>
  <div class="networks-list">
  </div>
</section>

<h3>Billing</h3>

<div class="billing-id">
  <strong>Billing ID</strong>
  <div class="value">{{uuid}}</div>
</div>
