<td class="status">
  <span class="
    label
    {{#if running}}
    {{status}}
    {{else}}
    label-warn
    {{/if}}
    ">
    {{#if running}}
    <i class="icon-ok-sign icon-white"></i>
    {{/if}}
    {{status}}
  </span>
</td>
<td class="name">
  <a>{{hostname}}</a>
  <span class="uuid">{{uuid}}</span>
</td>
<td class="memory">
  <span class="percent">{{ram}} MB</span>
</td>
<td class="when-boot">
  {{when_boot}}
</td>
<td>
  {{#if not_setup}}
  <button class="setup btn btn-mini">Setup</button>
  {{/if}}
</td>
