<div class="page-header">
  <div class="resource-status">
    {{#if setting_up}}
    <span class="server-setting-up">Setting Up</span>
    {{else}}
    <span class="server-state {{status}}">{{status}}</span>
    {{/if}}
  </div>
  <h1>
    {{hostname}}
    <small class="uuid">{{uuid}}</small>
  </h1>
</div>

{{#unless setup}}
<div class="btn-group pull-right actions">
  <button class="btn btn-info setup">Setup Server</button>
</div>
{{/unless}}

<section>
<div class="row">
  <div class="span7">
    <h3>Overview</h3>

    <div class="overview">
      <div class="item">
          <div class="item-label">Hostname</div>
          <div class="item-content">{{hostname}}</div>
      </div>
      <div class="item rack">
        <div class="item-label">Rack</div>
        <div class="item-content">
          {{#if rack_identifier}}
            <span class="value">{{rack_identifier}}</span>
            <a class="change-rack-id">Change <i class="icon-edit"></i></a>
          {{else}}
            <span class="none">No Rack Assigned</span>
            <a class="change-rack-id">Assign to Rack <i class="icon-edit"></i></a>
          {{/if}}
        </div>
      </div>
      {{#unless headnode}}
      <div class="item">
        <div class="item-label">Provisioning</div>
        <div class="item-content">
          {{#if reserved}}
          <span class="disabled"><i class="icon-ban-circle"></i> Disabled</span>
          <a class="change-reserve">Enable Provisioning <i class="icon-off"></i></a>
          {{else}}
          <span class="enabled"><i class="icon-ok-circle"></i> Enabled</span>
          <a class="change-reserve">Disable Provisioning <i class="icon-off"></i></a>
          {{/if}}
        </div>
      </div>
      <div class="item">
        <div class="item-label">Reservation Ratio <a class="help-text"
          title="Ratio of server memory reserved to not be used by Virtual Machines"
          data-toggle="tooltip"
          data-trigger="hover"><i class="icon-question-sign"></i></a>
        </div>
        <div class="item-content">
          <span class="reservation-ratio">{{reservation_ratio}}</span>
          <a class="change-reservation-ratio">Change Ratio <i class="icon-edit"></i></a>
        </div>
      </div>
      {{/unless}}
    </div>
  </div>{{! /span}}

  <div class="span5">
    <h3>Platform</h3>
    <div class="platform">
      <div class="item current">
        <div class="item-label">Current</div>
        <div class="item-content">{{current_platform}}</div>
      </div>
      <div class="item boot">
        <div class="item-label">Next Boot</div>
        <div class="item-content">
          <span class="value">{{boot_platform}}</span>
          <a class="change-platform"><i class="icon-edit"></i></a>
        </div>
      </div>
    </div> {{! platform }}
  </div>
</div>{{! /row}}
</section>

<section>
<div class="row">
  <div class="span12">
    <h3>Network Interfaces
        <div class="actions pull-right">
            <button class="btn btn-info manage-nics"><i class="icon-edit"></i> Manage Nics</i></button>
        </div>
    </h3>
    <div class="nics"></div>
  </div>
</div>
</section>

<section>
<div class="row">
  <div class="span8">
    <h3>Hardware</h3>
    <table class="table hardware">
      <tbody>
        <tr>
          <th>CPU Type</th>
          <td>{{cpu_type}}</td>
        </tr>
        <tr>
          <th>Physical CPUs</th>
          <td>{{cpu_physical_cores}}</td>
        </tr>
        <tr>
          <th>Total CPU Cores</th>
          <td>{{cpu_total_cores}}</td>
        </tr>
        <tr>
          <th>Serial Number</th>
          <td>{{serial_number}}</td>
        </tr>
        <tr>
          <th>Total Memory</th>
          <td>{{total_memory}} MiB</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <h3>Serial Console</h3>
    <div class="serial-console">
      <div class="key-value-list">
        <div class="item">
          <div class="item-label">Default Console</div>
          <div class="item-content">
            <span class="default-console">{{default_console}}</span>
          </div>
        </div>
        <div class="item">
          <div class="item-label">Serial</div>
          <div class="item-content">
            <span class="serial">{{serial}}</span>
          </div>
        </div>
        <div class="item">
          <div class="item-label">Serial Speed</div>
          <div class="item-content">
            <span class="serial-speed">{{serial_speed}}</span>
          </div>
        </div>
        <div class="item change">
          <a class="pull-right change-serial-console">Change Console Settings <i class="icon-edit"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
<div class="row">
  <div class="span8">
    <h3>Disks</h3>
    <div class="disks">
      {{#each disks}}
      <div class="disk">
        <div class="name">{{this.name}}</div>
        <div class="size">{{this.size}} GB</div>
      </div>
      {{/each}}
    </div>

    <h3>Traits</h3>
    {{#if traits.length}}
    <table class="traits table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each traits}}
        <tr>
          <td style="width: 100px;">{{this.name}}</td>
          <td>{{this.value}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
      <td colspan="2"><button class="btn btn-small modify-traits"><i class="icon-edit"></i> Edit Traits</button></td>
    </tfoot>
    </table>
    {{else}}
    <div class="zero-state">
      There are no traits configured for this server.
    </div>
    <button class="btn btn-small modify-traits"><i class="icon-edit"></i> Assign Traits</button>
    {{/if}}
  </div>

  <div class="span4">
    <div class="notes"></div>
  </div>
</div>

</section>

<section>
  <div class="row">
    <div class="span12">
      <h3>Virtual Machines</h3>
      <div class="vms-region"></div>
    </div>
  </div>
</section>

<section>
<div class="row">
  <div class="span12">
    <br>
    <div class="well" style="overflow: hidden">
      <p>The following actions are destructive and cannot be undone.</p>
      <div class="pull-left">
        <a class="btn btn-warning reboot"><i class="icon icon-white icon-refresh"></i> Reboot Server</a>
      </div>
      <div class="pull-right">
        <a class="btn btn-danger factory-reset">Factory Reset</a>
        <a class="btn btn-danger forget"><i class="icon icon-white icon-trash"></i> Forget Server</a>
      </div>
    </div>
  </div>
</div>
</section>
