<td class="status">
  <span class="
    label {{#if running}}{{status}}{{else}}label-warning{{/if}}
    ">
    {{#if running}}
      <i class="icon-ok-sign icon-white"></i>
    {{/if}}
    {{status}}
  </span>
</td>
<td class="name">
  {{#if reserved}}
  <span class="reserved"><i class="icon-lock"></i></span>
  {{/if}}
  <div class="last-platform">
    <span class="sdc"><i class="icon-picture"></i> {{sdc_version}}</span>
    <span class="platform">{{current_platform}}</span>
  </div>
  <a href="/servers/{{uuid}}">{{hostname}}</a>
  <span class="uuid">{{uuid}}</span>
</td>
<td class="last-status">
  <div class="last-boot"><i class="icon-off"></i> {{last_boot}}</div>
  <div class="last-heartbeat"><i class="icon-heart"></i> {{last_heartbeat}}</div>
</td>
<td>
  {{#if not_setup}}
    {{#if setting_up}}
    Setting up
    {{else}}

    {{#role "operators"}}
    <button class="setup btn btn-info setup"><i class="icon-magic"></i> Setup Server</button>
    {{/role}}
    {{/if}}
  {{/if}}
</td>
