<div class="page-header">
  <h1>{{hostname}}
    <small class="uuid">{{uuid}}</small>
    <div class="resource-status server-state-container">
      Status &nbsp;
      {{#if setting_up}}
      <span class="server-setting-up">
        Setting Up
      </span>
      {{else}}
      <span class="server-state {{status}}">
        {{status}}
      </span>
      {{/if}}
    </div>
  </h1>
</div>

{{#unless setup}}
<div class="btn-group pull-right actions">
  <button class="btn btn-info setup">Setup Server</button>
</div>
{{/unless}}

<div class="row">
  <div class="span7">

    <table class="overview vertical">
      <tbody>
        <tr>
          <th>Datacenter</th>
          <td>{{datacenter}}</td>
        </tr>

        <tr>
          <th>Hostname</th>
          <td>{{hostname}}</td>
        </tr>
        <tr class="rack">
          <th>Rack</th>
          <td>
          {{#if rack_identifier}}
            {{rack_identifier}}
            <a class="change-rack-id">Change <i class="icon-edit"></i></a>
          {{else}}
            <span style="color: #aaa;">No Rack Assigned</span>
            <a class="change-rack-id">Assign to Rack <i class="icon-edit"></i></a>
          {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
    {{#unless headnode}}
    <div class="overview key-value-list">
      <div class="item">
        <div class="item-label">Provisioning</div>
        <div class="item-content">
          {{#if reserved}}
            <span class="disabled"><i class="icon-ban-circle"></i> Disabled</span>
            <a class="change-reserve">Enable Provisioning <i class="icon-off"></i></a>
          {{else}}
            <span class="enabled"><i class="icon-ok-circle"></i> Enabled</span>
            <a class="change-reserve">Disable Provisioning <i class="icon-off"></i></a>
          {{/if}}
        </div>
      </div>
      <div class="item">
        <div class="item-label">Reservation Ratio <a class="help-text"
            title="Ratio of server memory reserved to not be used by Virtual Machines"
            data-toggle="tooltip"
            data-trigger="hover"><i class="icon-question-sign"></i></a>
        </div>
        <div class="item-content">
            <span class="reservation-ratio">{{reservation_ratio}}</span>
            <a class="change-reservation-ratio">Change Ratio <i class="icon-edit"></i></a>
        </div>
      </div>
    </div>
    {{/unless}}
  </div>{{! /span}}

  <div class="span5">
    <div class="platform">
      <div class="key-value-list">
        <div class="item current">
          <div class="item-label">Current Platform</div>
          <div class="item-content">{{current_platform}}</div>
        </div>
        <div class="item boot">
            <div class="item-label">Next Boot Platform</div>
            <div class="item-content">{{boot_platform}}</div>
        </div>
        <div class="item change">
          <a class="pull-right change-platform pull-right">Change Boot Platform <i class="icon-edit"></i></a>
        </div>
      </div>
    </div> {{! platform }}

    <div class="serial-console">
      <div class="key-value-list">
        <div class="item">
          <div class="item-label">Default Console</div>
          <div class="item-content">
            <span class="default-console">{{default_console}}</span>
          </div>
        </div>
        <div class="item">
          <div class="item-label">Serial</div>
          <div class="item-content">
            <span class="serial">{{serial}}</span>
          </div>
        </div>
        <div class="item">
          <div class="item-label">Serial Speed</div>
          <div class="item-content">
            <span class="serial-speed">{{serial_speed}}</span>
          </div>
        </div>
        <div class="item change">
          <a class="pull-right change-serial-console">Change Console Settings <i class="icon-edit"></i></a>
        </div>
      </div>

    </div>

  </div>
</div>{{! /row}}

<div class="row">
  <div class="span12">
    <h3>Network Interfaces
        <div class="actions pull-right">
            <button class="btn manage-nics"><i class="icon-edit"></i> Manage Nics</i></button>
        </div>
    </h3>
    <div class="nics"></div>
  </div>

  <div class="span12">
    <h3>Hardware</h3>
    <table class="hardware">
      <tbody>
        <tr>
          <th>CPU Type</th>
          <td>{{cpu_type}}</td>
        </tr>
        <tr>
          <th>Physical CPUs</th>
          <td>{{cpu_physical_cores}}</td>
        </tr>
        <tr>
          <th>Total CPU Cores</th>
          <td>{{cpu_total_cores}}</td>
        </tr>
        <tr>
          <th>Serial Number</th>
          <td>{{serial_number}}</td>
        </tr>
        <tr>
          <th>Total Memory</th>
          <td>{{total_memory}} MiB</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- row-->

<div class="row">
  <div class="span8">
    <h3>Disks</h3>
    <table class="disks table table-striped">
      <thead>
        <tr>
          <th>Device</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {{#each disks}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.size}} GB</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <h3>Traits</h3>
    {{#if traits.length}}
    <table class="traits table table-striped">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each traits}}
        <tr>
          <td style="width: 100px;">{{this.name}}</td>
          <td>{{this.value}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
      <td colspan="2"><button class="btn btn-small modify-traits"><i class="icon-edit"></i> Edit Traits</button></td>
    </tfoot>
    </table>
    {{else}}
    <div class="zero-state">
      <p>There are no traits configured for this server.</p>
      <button class="btn btn-small modify-traits"><i class="icon-edit"></i> Assign Traits</button>
    </div>
    {{/if}}
  </div>

  <div class="span4">
    <div class="notes"></div>
  </div>
</div>


<div class="row">
  <div class="span12">
    <br>
    <div class="well" style="overflow: hidden">
      <p>The following actions are destructive and cannot be undone.</p>
      <div class="pull-left">
        <a class="btn btn-warning reboot"><i class="icon icon-white icon-refresh"></i> Reboot Server</a>
      </div>
      <div class="pull-right">
        <a class="btn btn-danger factory-reset">Factory Reset</a>
        <a class="btn btn-danger forget"><i class="icon icon-white icon-trash"></i> Forget Server</a>
      </div>
    </div>
  </div>
</div>
