<td>
  <a href="/users/{{uuid}}" class="login">{{login}}</a>
  <span class="uuid">{{uuid}}</span>
</td>
<td>
  <span class="cn">
    {{#if cn}}
      {{cn}}
    {{else}}
      <span class="unnamed">unnamed</span>
    {{/if}}

  </span>
<td class="email">{{email}}</td>
