<form class="form widget-content">
  <div class="row">
    <div class="span3">
      <label>Datacenter</label>
      {{#if datacenter}}
      <strong>{{datacenter}}</strong>
      {{else}}
      <input type="text" class="input" name="datacenter" />
      {{/if}}
    </div>

    <div class="span8">
      <div class="limits-inputs">
        {{#if limits.length}}
          {{#each limits}}
          <div class="limits-input row">
            <div class="span3">
              <label>Image Name</label>
              <input type="text" value="{{this.image}}" class="input" name="image" />
            </div>
            <div class="span3">
              <label>Limit</label>
              <input class="input" type="number" name="value" value="{{this.value}}" />
            </div>
          </div>
          {{/each}}
        {{else}}
          <div class="limits-input row">
            <div class="span3">
              <label>Image Name</label>
              <input type="text" value="" class="input" name="image" />
            </div>
            <div class="span3">
              <label>Limit</label>
              <input class="input" type="number" name="value" value="" />
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset3 span5">
      <button class="btn btn-primary">Save Limits</button>
      <button type="button" class="btn cancel">Cancel</button>
    </div>
  </div>
</form>

