<td class="status">
  <span class="label {{state}}">
    <i class="icon-ok-sign icon-white"></i> {{ state }}
  </span>
</td>
<td class="alias">
  <a href="/vms/{{uuid}}">
    {{#if alias}}
    {{alias}}
    {{else}}
    {{uuid}}
    {{/if}}
  </a>
  {{#if tags.smartdc_type}}
  <span class="type label">{{tags.smartdc_type}}</span>
  {{/if}}
  <span class="uuid">{{uuid}}</span>
</td>
<td class="ips">
  {{#each ips}}
  <span>{{this}}</span>
  {{/each}}
</td>
<td class="package-image">
  <div class="package">
    <i class="icon-tasks"></i> <span>{{ package_name }} {{ package_version }}</span>
  </div>
  <div class="image">
    <i class="icon-picture"></i> <span>{{image.name}}</span>
  </div>
</td>
