<td class="status">
  <span class="label {{state}}">
    <i class="icon-ok-sign icon-white"></i> {{ state }}
  </span>
</td>
<td class="alias">
  <a href="/vms/{{uuid}}">
    {{#if alias}}
    {{alias}}
    {{else}}
    {{uuid}}
    {{/if}}
  </a>
  {{#if tags.smartdc_type}}
  <span class="type label">{{tags.smartdc_type}}</span>
  {{/if}}
  <span class="uuid"><span class="selectable">{{uuid}}</span></span>
  <span class="owner">
    Owner: <a class="owner-name"></a>
    <span class="owner-company">
    </span>
  </span>
</td>
<td class="ips">
  {{#each ips}}
  <span class="selectable">{{this}}</span>
  {{/each}}
</td>
<td class="package-image">
  <div class="package">
    <i class="icon-tasks"></i>
    <span class="package-name">{{ package_name }}</span>
    <span class="package-version">{{ package_version }}</span>
  </div>
  <div class="image">
    <i class="icon-picture"></i> <span>{{image.name}}</span>
  </div>
</td>
