<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright 2019 Joyent, Inc.
-->
<td></td>
<td>{{uuid}}</td>
<td>{{size}}</td>
<td>{{pci_slot}}</td>
<td>{{boot}}</td>
<td>{{model}}</td>
<td></td>
