<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<td>
  {{#role "operators"}}
  <input type="checkbox">
  {{/role}}
</td>
<td><a class="network-name">{{network_name}}</a>
  {{#if primary}}<span class="primary">PRIMARY</span>{{/if}}
</td>
<td><span class="selectable">{{ip}}</span></td>
<td>{{netmask}}</td>
<td>{{mac}}</td>
<td>{{nic_tag}}</td>
<td>
    {{#role "operators"}}
    <a class="configure-nic"><i class="fa fa-edit"></i></a>
    {{/role}}
</td>
