<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal hide error-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>An Error Occured: {{xhr.statusText}}</h3>
            </div>
            <div class="modal-body">
                <p>Context: {{context}}</p>
                {{#if message}}
                <p>Message: {{message}}</p>
                {{/if}}
                <p>HTTP Status: <pre>{{xhr.status}} {{xhr.statusText}}</pre></p>
                <p>HTTP body: <pre>{{responseBody}}</pre> </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
