<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<td class="state">
  <span class="{{state}}">{{state}}</span>
</td>
<td class="name">
  <a class="image-name" href="/images/{{uuid}}">{{name}} <span class="version">{{version}}</span></a><br>
  <span class="uuid selectable">{{uuid}}</span>
</td>
<td class="published">
  {{publish_date}}
</td class="os">
<td>{{os}}</td>
<td class="visibility">
  {{#if public}}
  <span class="public">public</span>
  {{else}}
  <span class="private">owner </span>
    {{#if acl}}
    <span class="acl">
      and {{acl.length}} others
    </span>
    {{/if}}
  {{/if}}
</td>
