<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<td class="name">
  {{name}} <span class="version">{{version}}</span>
</td>
<td style="width:250px;">
  <span class="uuid">{{uuid}}</span>
</td>
<td class="virt">
  <small>VIRT</small> {{virt}}
</td>
<td class="published">
  <small>Published</small> {{publish_date}}
</td>
<td class="import" style="width:120px;">
    <a class="btn btn-sm btn-block btn-primary"><i class="fa fa-fw fa-arrow-down"></i> Import</a>
</td>
