<table class="table editable">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>

  <tbody class="unstyled">
    {{#each metadata}}
    <tr>
      <td class="key">
        {{#if ../editing}}
        <input type="text" name="key" value="{{key}}" />
        {{else}}
        <span class="value" type="text">{{key}}</span>
        {{/if}}
      </td>

      <td class="value">
        {{#if ../editing}}
        <textarea name="value" class="value">{{value}}</textarea>
        {{else}}
        <span class="value" type="text">{{value}}</span>
        {{/if}}
      </td>
    </tr>
    {{/each}}
    {{#if editing}}
    <tr>
      <td class="key">
        <input type="text" name="key" value="" />
      </td>
      <td class="value">
        <textarea name="value" class="value"></textarea>
      </td>
    </tr>
    {{/if}}
  </tbody>
  {{#if editing}}
  <tfoot>
    <tr>
      <td colspan="2">
        <button class="btn btn-primary save pull-right">
          <i class="fa-plus-sign"></i> Save Metadata
        </button>
        <button class="btn btn-default cancel pull-right">Cancel</button>
      </td>
    </tr>
  </tfoot>
  {{/if}}
</table>
