<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="name"><a>{{ name }}</a> <span class="subnet">{{subnet}}</span></div>
<div class="vlan">
  <strong>VLAN</strong>
  <span class="value">{{vlan_id}}</span>
</div>
<div class="gateway">
  <strong>Gateway</strong>
  <span class="value">
    {{#if gateway}}
    {{ gateway }}
    {{else}}
    -
    {{/if}}
  </span>
</div>
<div class="provision-ip-range">
  <strong>Range</strong>
  <span class="value">{{ provision_start_ip }} - {{ provision_end_ip }}</span>
</div>

<div class="resolvers">
  <strong>Resolvers</strong>
  <span class="value">
    {{#if resolvers}}
    {{#each resolvers}} {{this}} &nbsp; {{/each}}
    {{else}}
    -
    {{/if}}
  </span>
</div>

<div class="owners">
    <strong>Owners</strong>
  <span class="value">
    {{#if owner_uuids}}
      {{#each owner_uuids}}
          <a class="owner-link" data-owner-uuid="{{this}}" target="_tab" href="/users/{{this}}"><i class="fa fa-external-link"></i>&nbsp;{{this}}</a>
      {{/each}}
    {{else}}
        -
    {{/if}}
  </span>
</div>
{{#if show_delete}}
  {{#role "operators"}}
    <div class="actions">
      <a class="delete-network"><i class="fa fa-trash-o"></i> Delete</a>
    </div>
  {{/role}}
{{/if}}
<div class="mtu">
  <strong>MTU / Nic Tag MTU</strong>
  <span class="value">{{mtu}} / {{nicTagMtu}}</span>
</div>

