<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<td>{{ip}}</td>
<td class="belongs-to">
  <strong>{{belongs_to_type}}</strong>
  {{#if belongs_to_url}}
  <a href="{{belongs_to_url}}"><small>{{belongs_to_uuid}}</small></a>
  {{else}}
  <small>{{belongs_to_uuid}}</small>
  {{/if}}

</td>
<td>
  <div class="reservation">
    {{#if reserved}}
    <span class="label label-info">Reserved</span>
    <a class="btn unreserve">Unreserve</a>
    {{else}}
    <a class="btn reserve">Reserve</a>
    {{/if}}
  </div>
</td>
<td>
  {{#if free}}
  <span class="label label-info">Free</span>
  {{/if}}

  <div class="notes-component-container"></div>
</td>
