<td>
  {{#role "operators"}}
  <input type="checkbox">
  {{/role}}
</td>
<td><a class="network-name">{{network_name}}</a>
  {{#if primary}}<span class="primary">PRIMARY</span>{{/if}}
</td>
<td><span class="selectable">{{ip}}</span></td>
<td>{{netmask}}</td>
<td>{{mac}}</td>
<td>{{nic_tag}}</td>
<td>
    {{#role "operators"}}
    <a class="configure-nic"><i class="fa fa-edit"></i></a>
    {{/role}}
</td>
