<a>
  <div class="status">
    {{#if active}}
    <span class="active">ACTIVE</span>
    {{else}}
    <span class="inactive">INACTIVE</span>
    {{/if}}
  </div>

  <div class="name">{{name}}</div>
  <div class="version">{{version}}</div>

  <div class="memory">
    <small>RAM</small>
    {{max_physical_memory}} MB
  </div>

  <div class="quota">
    <small>DISK</small>
    {{normalize quota}}
  </div>
</a>
