<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<a>
  <div class="status">
    {{#if active}}
    <span class="active">ACTIVE</span>
    {{else}}
    <span class="inactive">INACTIVE</span>
    {{/if}}
  </div>

  <div class="name">{{name}}</div>
  <div class="version">{{version}}</div>

  <div class="memory">
    <small>RAM</small>
    {{max_physical_memory}} MB
  </div>

  <div class="quota">
    <small>DISK</small>
    {{normalize quota}}
  </div>
</a>
