<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="alias">{{params.alias}}</div>
<div class="uuid">
    {{#if vm}}
    <a class="{{type}}">{{uuid}}</a>
    {{else}}
    {{uuid}} (agent)
    {{/if}}
</div>
<div class="state"></div>
<div class="ram"></div>
