<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

{{#if editing}}

  <td class="key">
    <input name="name" value="{{tag.name}}">
  </td>
  <td class="value">
    <input name="value" value="{{tag.value}}"/>
    <div class="editing-actions">
      <button class="btn btn-mini btn-info save">Save</button>
      <button class="btn btn-link cancel">Cancel</button>
    </div>
  </td>

{{else}}

  <td class="key">
    <span>{{tag.name}}</span>
  </td>

  <td class="value">
    <span data-key="{{name}}" class="editable">{{tag.value}}</span>
    <div class="row-actions">
      {{#role "operators"}}
      <a class="edit"><i class="fa fa-edit"></i> Edit</a>
      <a class="remove"><i class="fa fa-trash-o"></i></a>
      {{/role}}
    </div>
  </td>


{{/if}}
