<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="login">
    {{#if alias}}
        {{alias}} <span class="subuser">user</span>
    {{else}}
        {{login}} <span class="account">account</span>
    {{/if}}
</div>
<div class="cn">{{name}}</div>
<div class="email">{{email}}</div>
