<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="user-icon" style="background-image: url(https://www.gravatar.com/avatar/{{emailhash}}?d=identicon&s=65);"></div>
<div class="user-info">
    <span class="login"><i class="fa fa-user"></i> {{login}}</span>
    <div><strong>Name</strong> <span class="cn">{{cn}}</span></div>
    <div><strong>Email</strong> <span class="email">{{email}}</span></div>
    <a class="user-details-link" target="_tab" href="/users/{{uuid}}"><i class="fa fa-external-link"></i> See User Details</a>
</div>
