<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<td class="status">
  <span class="state {{state}}">{{ state }}</span>
</td>
<td class="alias">
  <a href="/vms/{{uuid}}">{{#if alias}}{{alias}}{{else}}{{uuid}}{{/if}}</a>
  {{#if tags.smartdc_type}}
  <span class="type">{{tags.smartdc_type}}</span>
  {{/if}}
  <span class="uuid"><span class="selectable">{{uuid}}</span></span>
</td>
<td class="owned-by">
  <div class="owner">
    <i class="fa fa-user fa-fw"></i> <a class="owner-name"></a>
    <div class="owner-company-container">
        <span class="fa fa-building fa-fw"></span> <div class="owner-company"></div>
    </div>
  </div>
</td>
<td class="ips">
  {{#each ips}}
  <span class="selectable">{{this}}</span>
  {{/each}}
</td>
<td class="package-image">
  <div class="server">
      <i class="fa fa-list"></i> <span>Server</span>
  </div>
  {{#if package_name}}
  <div class="package">
    <i class="fa fa-codepen fa-fw"></i>
    <span class="package-name">{{ package_name }}</span>
    <span class="package-version">{{ package_version }}</span>
    </div>
{{/if}}
<div class="image">
    <i class="fa fa-picture-o fa-fw"></i> <a class="image-name" href="/images/{{image_uuid}}">{{image.name}}</a>
  </div>
</td>
